header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.userspace {
    position: relative;
    cursor: pointer;
    user-select: none;
}

.hidden {
    display: none;
}

.un-hidden {
    display: flex;
    position: absolute;
    top: 25px;
    right: 0px;
    cursor: pointer;
}