body {
  font-family: "Google Sans Code";
  position: relative;
}

.auth-form {
  border: solid #3d405b 1px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  color: #e07a5f;
  background-color: #f2cc8f;
  padding: 10px 15px 10px 15px;
  font-weight: bold;
  font-size: inherit;
  margin-bottom: 15px;
}

.hidden {
  display: none;
}

.un-hidden {
  display: flex;
  padding: 10px 20px 10px 20px;
  position: absolute;
  flex-direction: column;
  gap: 10px;
  bottom: 0px;
  right: 0px;
  transform: translate(0%, 104%);
  cursor: pointer;
  background-color: #f2cc8f;
}

.userspace,
input,
button {
  font-size: 1rem;
  padding: 5px 10px 5px 10px;
  border: solid #3d405b 1px;
}

input:focus {
  border: solid #81b29a 1px;
  outline: solid 1px #81b29a;
  background-color: #f4f1de;
}

input {
  background-color: #f2cc8f;
}

.userspace,
button {
  cursor: pointer;
  user-select: none;
  background-color: #e07a5f;
  color: #f4f1de;
  font-weight: bold;
}

h1 {
  user-select: none;
}

.logo>h1:hover,
.userspace:hover,
button:hover,
.post-content>h2:hover {
  text-decoration: underline;
  opacity: 80%;
}

button:focus {
  outline: solid 1px #3d405b;
  text-decoration: underline;
}

.post-content>h2 {
  cursor: pointer;
}

div.logo {
  display: flex;
  gap: 15px;
  align-items: center;
  cursor: pointer;
  border: solid #f4f1de 2px;
  padding: 5px 10px 5px 10px;
}

.logo-svg {
  height: 2.5rem;
}

.comments,
.post-container,
.blog {
  border: 1px solid #3d405b;
  padding: 50px;
}

.post {
  display: flex;
  gap: 25px;
  padding: 50px;
  border: solid 1px #f2cc8f;
  height: 400px;
}

.post-content {
  padding: 10px 15px 10px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
p {
  text-overflow: hidden;
}

.post > img {
  width: 400px;
}

.post-container > img {
  display: block;
  width: 50%;
  float: left;
}

.post-container > * {
  padding: 10px 15px 10px 15px;
  margin: 5px 10px 5px 10px;
}

.comments {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.comments-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comment {
  display: flex;
  justify-content: space-between;
  border: solid #f2cc8f 1px;
  padding: 10px 15px 10px 15px;
}

.comment-info {
  font-size: 0.8rem;
}



/* HTML: <div class="loader"></div> */
.comments-loader-container,
.loader-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: center;
  border: solid #3d405b 1px;
}

.loader-container {
  height: 85vh;
}

.comments-loader-container {
  padding: 50px 0px 50px 0px;
}

.blog-loader {
  width: 35px;
  height: 80px;
  position: relative;
}
.blog-loader:after {
  content: "";
  position: absolute;
  inset: 0;
  padding: 3px 5px;
  border-top: 1px solid #bbb6aa;
  border-bottom: 4px solid #bbb6aa;
  background: 
    linear-gradient(#612329 0 0) bottom no-repeat content-box, 
    #e4e0d7;
  mix-blend-mode: darken;
  animation: l1 1.5s infinite linear;
}
.blog-loader:before {
  content: "";
  position: absolute;
  inset: -18px calc(50% - 2px) 8px;
  background: #eb6b3e;   
  transform-origin: bottom;
  transform: rotate(8deg);
}
@keyframes l1 {
 0%   {background-size: 100% 100%}
 100% {background-size: 100% 5%}
}

/* HTML: <div class="loader"></div> */
.post-loader {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 8px solid #d1914b;
  box-sizing: border-box;
  --c:no-repeat radial-gradient(farthest-side, #d64123 94%,#0000);
  --b:no-repeat radial-gradient(farthest-side, #000 94%,#0000);
  background:
    var(--c) 11px 15px,
    var(--b) 6px 15px,    
    var(--c) 35px 23px,
    var(--b) 29px 15px,    
    var(--c) 11px 46px,
    var(--b) 11px 34px,    
    var(--c) 36px 0px,
    var(--b) 50px 31px,
    var(--c) 47px 43px,
    var(--b) 31px 48px,    
    #f6d353; 
  background-size: 15px 15px,6px 6px;
  animation: l4 3s infinite;
}
@keyframes l4 {
  0%     {-webkit-mask:conic-gradient(#0000 0     ,#000 0)}
  16.67% {-webkit-mask:conic-gradient(#0000 60deg ,#000 0)}
  33.33% {-webkit-mask:conic-gradient(#0000 120deg,#000 0)}
  50%    {-webkit-mask:conic-gradient(#0000 180deg,#000 0)}
  66.67% {-webkit-mask:conic-gradient(#0000 240deg,#000 0)}
  83.33% {-webkit-mask:conic-gradient(#0000 300deg,#000 0)}
  100%   {-webkit-mask:conic-gradient(#0000 360deg,#000 0)}
}

/* HTML: <div class="loader"></div> */
.comments-loader {
  width: 80px;
  height: 40px;
  border-radius: 0 0 100px 100px;
  border: 5px solid #538a2d;
  border-top: 0;
  box-sizing: border-box;
  background:
    radial-gradient(farthest-side at top,#0000 calc(100% - 5px),#e7ef9d calc(100% - 4px)), 
    radial-gradient(2px 3px,#5c4037 89%,#0000) 0 0/17px 12px,
    #ff1643;
  --c:radial-gradient(farthest-side,#000 94%,#0000);
  -webkit-mask:
    linear-gradient(#0000 0 0),
    var(--c) 12px -8px,
    var(--c) 29px -8px,
    var(--c) 45px -6px,
    var(--c) 22px -2px,
    var(--c) 34px  6px, 
    var(--c) 21px  6px,
    linear-gradient(#000 0 0);
  mask:
    linear-gradient(#000 0 0),
    var(--c) 12px -8px,
    var(--c) 29px -8px,
    var(--c) 45px -6px,
    var(--c) 22px -2px,
    var(--c) 34px  6px, 
    var(--c) 21px  6px,
    linear-gradient(#0000 0 0);
  -webkit-mask-composite:destination-out;
  mask-composite:exclude,add,add,add,add,add,add;
  -webkit-mask-repeat: no-repeat;
  animation: l8 3s infinite;
}
@keyframes l8 {
 0%   {-webkit-mask-size: auto,0 0,0 0,0 0,0 0,0 0,0 0}
 15%  {-webkit-mask-size: auto,20px 20px,0 0,0 0,0 0,0 0,0 0}
 30%  {-webkit-mask-size: auto,20px 20px,20px 20px,0 0,0 0,0 0,0 0}
 45%  {-webkit-mask-size: auto,20px 20px,20px 20px,20px 20px,0 0,0 0,0 0}
 60%  {-webkit-mask-size: auto,20px 20px,20px 20px,20px 20px,20px 20px,0 0,0 0}
 75%  {-webkit-mask-size: auto,20px 20px,20px 20px,20px 20px,20px 20px,20px 20px,0 0}
 90%,
 100% {-webkit-mask-size: auto,20px 20px,20px 20px,20px 20px,20px 20px,20px 20px,20px 20px}
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
    gap: 15px;
  }

  * {
    padding: 5px !important;
  }

  .post-container > img {
    display: block;
    width: 90%;
    float: none;
  }

  .comment-form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .comment {
    flex-direction: column;
  }
}

@media (max-width: 1200px) {
  .blog p {
    display: none;
  }

  .post {
    flex-direction: column-reverse;
    height: auto;
    width: 90%;
    align-items: center;
  }

  .post > img {
    width: 90%;
  }
}
